<div class="card-container">
  <div class="form-container">
    <form validate="false" (ngSubmit)="message()" [formGroup]="messageForm">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <textarea matInput type="text" formControlName="message"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="messageForm.invalid">Save</button>
    </form>
  </div>
</div>
<div class="card-container">
  <mat-list>
    <mat-list-item *ngFor="let msg of data">
      <div mat-line>{{msg.name}}</div>
      <div mat-line>{{msg.message}}</div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
